<mat-toolbar class="toolbar">

  <mat-toolbar-row class="first-toolbar">
    <div class="contents-accessibility">
      
      <div style="display: inline-flex;">
        <div style="font-size: 15px;margin-right: 25px;margin-left: 70px;">
          Ir para o topo [ 1 ] 
        </div>
        <div style="font-size: 15px;margin-right: 25px;">
          Ir para o rodapé [ 2 ]
        </div>
        <div style="font-size: 15px;">
          <a [href]="SCREENREADER" target="_blank" style="color: #fbff00 !important;">Instalar Screen Reader</a>
        </div>
      </div>

      <button mat-icon-button class="example-icon margin-cascade" aria-label="Example icon-button with menu icon"
        (click)="changeContrast()" [matTooltipPosition]="tootipPosition" [matTooltip]="contrastText">
        <mat-icon>invert_colors</mat-icon>
      </button>

      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
        (click)="changeFontSize('decrease')" [matTooltipPosition]="tootipPosition" [matTooltip]="decreaseText">
        <mat-icon>zoom_out</mat-icon>
      </button>

      <mat-icon>font_download</mat-icon>

      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
        (click)="changeFontSize('increase')" [matTooltipPosition]="tootipPosition" [matTooltip]="increaseText">
        <mat-icon>zoom_in</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row class="second-toolbar">
    <img width="40" alt="Angular Logo" [src]="IMAGEPATH"/>
    <span style="color:black;" routerLink="public">{{TITLE}}</span>
    <span class="example-spacer"></span>
    <div class="grid-buttons">
      
      <div>
        <button mat-button routerLink="public/quem-somos">QUEM SOMOS</button>
      </div>
      
      <div>
        <button mat-button routerLink="public/materiais-interessantes">MATERIAIS</button>
      </div>
      
      <div>
        <button mat-button [matMenuTriggerFor]="menu">TRABALHOS DE T.A</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
      </div>

      <div>
        <button mat-button >LABORATÓRIO DE TECNOLOGIA</button>
      </div>

      <div>
        <button mat-button >FALE CONOSCO</button>
      </div>

    </div>
    <!-- <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button> -->
  </mat-toolbar-row>
</mat-toolbar>