<div style="margin:0 auto; height: 100%; margin-top: 30px;">

    <img mat-card-image [src]="SORRY" alt="sorry foto" style="width: 100%;">

    <div>

        <div class="texto-intro-ta" [style.font-size.px]="ctrl.getFontSize()">
            <p>
                O laboratório de tecnologia assistiva do ICH PUC Minas foi montado a partir de um projeto do NAI PUC
                Minas para receberem um novo curso de tecnólogo em libras e braille e também atender às demandas de
                formação dos alunos do curso de pedagogia com ênfase em N.E.E. No ano de 2007.
            </p>
            <p>
                Hoje em dia ele atende as demandas das disciplinas de educação inclusiva do nono período de pedagogia
                com aprofundamento em N.E.E., aos projetos de extensão Casa do Aprender: oficinas de informática e
                comunicação alternativa, e o projeto de alfabetização de adultos com deficiências, o projeto ALEGRIA. O
                laboratório também atende as demandas de pesquisa do projeto levitronic, e as disciplinas de tecnologia
                assistiva e comunicação alternativa, aplicadas à educação inclusiva da graduação e da pós graduação.
            </p>
        </div>

        <div class="justify-ta" style="margin-top: 50px;">
            <div>
                <img mat-card-image [src]="TA1" alt="ta1 foto" width="700" height="500">
            </div>
            <div>
                <div style="margin-bottom: 20px;">
                    <span style="font-size: 25px; font-weight: bolder;">
                        Trabalhos:
                    </span>
                </div>
                <div style="margin-left: 40px;" [style.font-size.px]="ctrl.getFontSize()">
                    <li style="margin: 10px 0 5px;"> Trabalho 01 - Portal Assistiva </li>
                    o Prof Dr Pietrobon, Lauro Milagres e Profª Nivânia Reis
                    <li style="margin: 10px 0 5px;"> Trabalho 02 - Porta com cartão para pessoas com deficiência visual
                    </li>
                    o Profª Dra Renata Umbelino e Bruno Leal Fonseca
                    <li style="margin: 10px 0 5px;"> Trabalho 03 – Transformação de uma cadeira de rodas convencional em
                        um triciclo elétrico.</li>
                    o Prof Claysson Vimiero e Gabriel Goulart
                    <li style="margin: 10px 0 5px;"> Trabalho 04: Levitronic</li>
                    o Prof Dr Claysson Vimiero e mestrando Alex Sander Almeida Viana
                    <li style="margin: 10px 0 5px;"> Trabalho 05 – Acessibilidade na piscina</li>
                    o Prof Cláudio Campos e Profª Claudia Barsant e Túlio Fernandes de Almeida.
                    <li style="margin: 10px 0 5px;"> Trabalho 06- IVision - Sistemas de tecnologia Assistiva. </li>
                    o Ruan Carlos Porto Moreira e Vinicius de Jesus Ferreira- e Profª Dra Cleia Marcia Gomes Amaral
                    <li style="margin: 10px 0 5px;"> Trabalho 07: Repositório Digital na Educação: tecnologias assistivas
                        on line.</li>
                    o Elisangela Lopes Costa e Lucas Duarte Rocha e Prof Dra Cleia Marcia Gomes Amaral
                    <li style="margin: 10px 0 5px;"> Trabalho 08: Trabalho 04: a mão de LIBRAS</li>
                    o Prof. Dr Mário Guimarães Buratto - Gleika Souza Soares
                </div>
            </div>
        </div>

        <div style="margin-top: 50px; margin-bottom: 50px;">

            <div class="container">
                <div class="carousel">
                    <input type="radio" id="carousel-1" name="carousel[]" checked>
                    <input type="radio" id="carousel-2" name="carousel[]">
                    <input type="radio" id="carousel-3" name="carousel[]">
                    <!-- <input type="radio" id="carousel-4" name="carousel[]">
                  <input type="radio" id="carousel-5" name="carousel[]"> -->
                    <ul class="carousel__items">
                        <li class="carousel__item"><img mat-card-image [src]="TA2" alt="" width="600" height="500"></li>
                        <li class="carousel__item"><img mat-card-image [src]="TA4" alt="" width="600" height="500"></li>
                        <li class="carousel__item"><img mat-card-image [src]="TA5" alt="" width="600" height="500"></li>
                        <!-- <li class="carousel__item"><img mat-card-image [src]="TA5" alt="" width="700" height="500"></li>
                    <li class="carousel__item"><img mat-card-image [src]="TA1" alt="" width="700" height="500"></li> -->
                    </ul>
                    <div class="carousel__prev">
                        <label for="carousel-1"></label>
                        <label for="carousel-2"></label>
                        <label for="carousel-3"></label>
                        <!-- <label for="carousel-4"></label>
                    <label for="carousel-5"></label> -->
                    </div>
                    <div class="carousel__next">
                        <label for="carousel-1"></label>
                        <label for="carousel-2"></label>
                        <label for="carousel-3"></label>
                        <!-- <label for="carousel-4"></label>
                     <label for="carousel-5"></label> -->
                    </div>
                    <div class="carousel__nav">
                        <label for="carousel-1"></label>
                        <label for="carousel-2"></label>
                        <label for="carousel-3"></label>
                        <!-- <label for="carousel-4"></label>
                     <label for="carousel-5"></label> -->
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
