.materiais-interessantes-content{
    width: 85%;
    margin: auto;
    min-height: 800px;
}

.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
    // margin: auto; display: grid; grid-template-columns: 1fr 1fr;
  }

.sidenav-materiais {
    width: 280px;
    position: fixed;
    z-index: 1;
    height: 500px;
    left: 15px;
    background: #b1e4e7;
    overflow-x: hidden;
    padding: 8px 0;
}

.sidenav-materiais  a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 14px;
    display: block;
    cursor: pointer;
    color: mediumblue
}

.sidenav-materiais a:hover {
    color: white;
    background-color: #3F51B5;
    font-size: 16px;
}

.main {
    margin-left: 160px; /* Same width as the sidebar + left position in px */
    // font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    min-width: calc(1900px - 260px);
}

@media screen and (max-height: 450px) {
    .sidenav-materiais {padding-top: 15px;}
    .sidenav-materiais a {font-size: 18px;}
}

.line-bottom {
    border-bottom: 2px solid white;
}

.card-search {
    margin: 20px 0px 20px;
    font-size: 20px;
    letter-spacing: 2px !important;
    .card-description {
        width: 80%;
        padding: 10px 0px;
    }
}

::ng-deep .ui-paginator{
    background-color: transparent !important;
    border: transparent !important;
    padding: 15px !important;
}

.div-sorry {
    width: 1000px !important;
}