<h2 mat-dialog-title>Tipo de Deficiência</h2>
<mat-dialog-content>
    <p>Selecione o tipo de deficiência</p>
</mat-dialog-content><mat-dialog-actions>
    <button mat-button [mat-dialog-close]="true">Visual</button>
    <button mat-button [mat-dialog-close]="true">Motora</button>
    <button mat-button [mat-dialog-close]="true">Mental</button>
    <button mat-button [mat-dialog-close]="true">Auditiva</button>
    <button mat-button [mat-dialog-close]="true">Paralisia Cerebral</button>
    <button mat-button [mat-dialog-close]="true">TEA</button>
    <button mat-button [mat-dialog-close]="true">Dislexia</button>
    <button mat-button mat-dialog-close>Não desejo informar</button>
</mat-dialog-actions>