

.trabalohs-ta-content{
    width: 70%;
    margin: auto;
}

.common-format{
    margin-top: 30px;
    text-align: justify;
}

.line-scope-text{
    border-top: 1px solid #dbdbdb;
}

// Title
.custom-title-home{
    display: inline;
    font-weight: bolder;
}
